{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!doctype html>
<html lang="pt-br">
<head>
    {% include 'home/menu.html' %}
</head>
<body>
<div class="container">
    <img src="{% static 'img/logo.png' %}" width="100px" alt="">
    <br>
    <a href="{% url 'home' %}">Home</a>
    <h2>Produto</h2>
    <form action="{% url 'produto' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-success" type="submit">Enviar</button>
        {% endbuttons%}
    </form>
    {% for linhas in dados %}
    <img src="{{linhas.foto.pequeno.url}}" alt=""><br>
    <img src="{{linhas.foto.media.url}}" alt=""><br>
    {% endfor %}
</div>
</body>
</html>